.red {
  background-color: red;
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  animation: 1s ani alternate infinite;
}

@ani{
  0%{
    transform: color:blue;
  }
}
